
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.landing {background-image: ('/images/backgrounds/h_img.jpg');
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
   
}
.landing h1{
    padding: 2px;
    margin: 5px;
  }
  .landing p{
    padding: 2px;
  }
  #logo{
    margin-top: 10px;
    margin-bottom: 22px;
    width: 65px;
    height: 65px;;
  }
  #mouse-click{
    padding-top : 20px;
    margin-top: 10%;
    padding-bottom: 25px; 
    
  }
  #mouse-click {
    animation: bounce 2s infinite;
  }